In [1]:
# float
x = 1
type(x)

int

In [2]:
# boolean
b1 = True
b2 = False

type(b1)

bool

In [3]:
b1*b2

0

In [4]:
False and False

False

In [1]:
False or False

False

In [22]:
l=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9,"rakesh","power"]
m=[]
for i in l:
    if type(i) == str:
        m.append(i)

In [24]:
m

['rakesh', 'power']

In [23]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'rakesh', 'power']

In [8]:
s=10
if s<=20:
    print('s')
else:
    print('none')

s

In [10]:
s=10
if s==10:
    print('yes')
    if type(s)== int:
        print('int')
    elif type(s) == str:
        print('str')
elif s==50:
    print('no')
elif s<=12:
    print('s')
else:
    print('none')

yes
int

In [31]:
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in l:
    print(i)
else:
    print('no')

0
1
2
3
4
5
6
7
8
9
no

In [12]:
d = 10
s= 20
f= 3
while d<= s:
    d= f+s
    f = d+f
    print(d)
print(d)

23
23

In [13]:
d=10
s=0
i=1
while i<=d:
    s=s+i
    i=i+1
    print(s)
print(s)

1
3
6
10
15
21
28
36
45
55
55

In [15]:
for x in "rakesh":
    if x == 'm':
        break
    print(x)
else:
    print("iam able to")

r
a
k
e
s
h
iam able to

In [16]:
for x in "rakesh":
    if x == 's':
        break
    print(x)
else:
    print("iam able to")
print('ram')

r
a
k
e
ram

In [59]:
for x in "rakesh":
    if x == 'b':
        break
    print(x)
else:
    print("iam able to")
print('ram')

r
a
k
e
s
h
iam able to
ram

In [25]:
for i in "rakesh":
    if i=="k":
        continue
print(i)

h

In [26]:
a = input()

55

In [1]:
a = input()
b=int(a)
type(b)

55

int

In [5]:
a=int(input())
l = [1,2,3,4,5,6,7,8,8,7,7]
m=[]

for i in l:
    if i==a:
        m.append(i)
m

8

[8, 8]

In [6]:
"rakesh"+'1','2'

('rakesh1', '2')

In [9]:
"rakesh"+'1'

'rakesh1'

In [18]:
"rakesh"+str(1)

'rakesh1'

In [21]:
[1,2,3,4,5] + ["rakesh"]

[1, 2, 3, 4, 5, 'rakesh']

In [2]:
s="sudh"

In [3]:
s*10

'sudhsudhsudhsudhsudhsudhsudhsudhsudhsudh'

In [4]:
[1,2,3,4,5,"sdsds"]*3

[1, 2, 3, 4, 5, 'sdsds', 1, 2, 3, 4, 5, 'sdsds', 1, 2, 3, 4, 5, 'sdsds']

In [5]:
s.upper()

'SUDH'

In [7]:
a="sudH"

In [8]:
a.lower()

'sudh'

In [11]:
a='rakeshAA got  rank'

In [12]:
a.split('A')

['rakesh', '', ' got  rank']

In [39]:
type(a.split('A'))

list

In [13]:
a='rkjhjiunjahghtgkeshAAAAAAA'

In [14]:
a.partition("A")

('rkjhjiunjahghtgkesh', 'A', 'AAAAAA')

In [40]:
type(a.partition('A'))

tuple

In [15]:
d="sfshgsusbhjgjhbh"

In [16]:
d.find('su')

5

In [21]:
f='rakesh'

In [31]:
f.center(50,'8')

'8888888888888888888888rakesh8888888888888888888888'

In [33]:
'rakeshe'.expandtabs()

'rakeshe'

In [57]:
'my name is {}'.format('rakesh')

'my name is rakesh'

In [37]:
a=input("please give ur name ")

"my name is {}".format(a)

please give ur name rakesh

'my name is rakesh'

In [2]:
a=input("please give ur name")
"my name is {}".format('A')

please give ur nameSUDH

'my name is A'

In [39]:
A=input("please give ur FIRST name")
B=input("please give ur LAST name")

"my name is {} {}".format(A,B)

please give ur FIRST namepower
please give ur LAST namerakesh

'my name is power rakesh'

In [45]:
s= "HELO"

In [46]:
s.isalnum()

True

In [47]:
s.isupper()

True

In [48]:
t="Rakesh"

In [49]:
t.istitle()

True

In [50]:
t.endswith('h')

True

In [51]:
len(t)

6

In [52]:
print(t)

Rakesh

In [53]:
t

'Rakesh'

In [54]:
a = [1,2,3.4,56,"hello","sudh",4.56,[3,4,5,6]]
b=[4,56,58,4,7,8,"my","name"]

In [42]:
m=[]
for i in a:
    m.append(i)
m

[1, 2, 3.4, 56, 'hello', 'sudh', 4.56, [3, 4, 5, 6]]

In [44]:
a+b

[1,
 2,
 3.4,
 56,
 'hello',
 'sudh',
 4.56,
 [3, 4, 5, 6],
 4,
 56,
 58,
 4,
 7,
 8,
 'my',
 'name']

In [45]:
(a+b)*2

[1,
 2,
 3.4,
 56,
 'hello',
 'sudh',
 4.56,
 [3, 4, 5, 6],
 4,
 56,
 58,
 4,
 7,
 8,
 'my',
 'name',
 1,
 2,
 3.4,
 56,
 'hello',
 'sudh',
 4.56,
 [3, 4, 5, 6],
 4,
 56,
 58,
 4,
 7,
 8,
 'my',
 'name']

In [46]:
b+list("sudh")

[4, 56, 58, 4, 7, 8, 'my', 'name', 's', 'u', 'd', 'h']

In [47]:
list("sudh")

['s', 'u', 'd', 'h']

In [48]:
list([23])

[23]

In [49]:
b

[4, 56, 58, 4, 7, 8, 'my', 'name']

In [51]:
b.append("sgfgfg")

In [52]:
b

[4, 56, 58, 4, 7, 8, 'my', 'name', 'sgfgfg']

In [73]:
b.insert(3,"jhjhn")

In [72]:
b

[4,
 56,
 58,
 'jhjhn',
 'jhjhn',
 4,
 7,
 8,
 'jhjhn',
 'jhjhn',
 'jhjhn',
 'my',
 'name',
 'sgfgfg']

In [56]:
b=[2,3,4,5,5]

In [86]:
b.pop(2)

4

In [83]:
b

[2, 3]

In [88]:
b[::-1]

[5, 5, 4, 3, 2]

In [57]:
b.reverse()

In [58]:
b

[5, 5, 4, 3, 2]

In [59]:
b.sort()

In [60]:
b

[2, 3, 4, 5, 5]

In [61]:
v = [2,568,6,9,565,"suhg"]

In [62]:
v.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [63]:
m = ["kiran","mohan","macaha"]

In [64]:
m.sort()

In [65]:
m

['kiran', 'macaha', 'mohan']

In [68]:
b.sort(reverse=False)

In [69]:
b

[2, 3, 4, 5, 5]

In [75]:
a=[25,56,47,58]
b=[5, 5, 4, 3, 2]
c=[2,5,4,8,7,9,6,3,7,4,58]

d = [a,b,c]
d

[[25, 56, 47, 58], [5, 5, 4, 3, 2], [2, 5, 4, 8, 7, 9, 6, 3, 7, 4, 58]]

In [71]:
d[-1]

[2, 5, 4, 8, 7, 9, 6, 3, 7, 4, 58]

In [73]:
d[2][::3]

[2, 8, 6, 4]

In [78]:
d[::-1]

[[2, 5, 4, 8, 7, 9, 6, 3, 7, 4, 58], [5, 5, 4, 3, 2], [25, 56, 47, 58]]

In [79]:
m = []
d = d[::-1]
for b in d:
    m.append(b[::-1])
m

[[58, 4, 7, 3, 6, 9, 7, 8, 4, 5, 2], [2, 3, 4, 5, 5], [58, 47, 56, 25]]

In [118]:
d

[[25, 56, 47, 58], [5, 5, 4, 3, 2], [2, 5, 4, 8, 7, 9, 6, 3, 7, 4, 58]]

In [130]:
m

[[58, 4, 7, 3, 6, 9, 7, 8, 4, 5, 2], [2, 3, 4, 5, 5], [58, 47, 56, 25]]

In [134]:
m = []
d.reverse()
for b in d:
    m.append(b[::-1])

In [141]:
m

[[58, 4, 7, 3, 6, 9, 7, 8, 4, 5, 2], [2, 3, 4, 5, 5], [58, 47, 56, 25]]

In [144]:
n=[]
for i in m:
    n.append(i[2])
n

[7, 4, 56]

In [145]:
n=[]
for i in m:
    n.append(i[2]*2)
n

[14, 8, 112]

In [148]:
[i[2]*2 for i in m]

[14, 8, 112]

In [156]:
s = [1,2,3,4,5]

In [157]:
s.append([3,4,5,6,7])

In [158]:
s

[1, 2, 3, 4, 5, [3, 4, 5, 6, 7]]

In [172]:
m = [4,56,9,2,5,"rama"]

In [173]:
m.extend([9,5,6,7,"rakesh"])

In [174]:
m

[4, 56, 9, 2, 5, 'rama', 9, 5, 6, 7, 'rakesh']

In [175]:
m.extend([9,5,6,7,[8,9,"rakesh"]])

In [176]:
m

[4, 56, 9, 2, 5, 'rama', 9, 5, 6, 7, 'rakesh', 9, 5, 6, 7, [8, 9, 'rakesh']]

In [177]:
m.index(9)

2

In [178]:
m

[4, 56, 9, 2, 5, 'rama', 9, 5, 6, 7, 'rakesh', 9, 5, 6, 7, [8, 9, 'rakesh']]

In [170]:
for i in m:
    if i==7:
        m.remove(7)
m

[4, 56, 9, 2, 5, 'rama', 9, 5, 6, 'rakesh', 9, 5, 6, [8, 9, 'rakesh']]

In [181]:
for i in m:
    if i==7:
        m.remove(7)
    elif type(i) == list:
        i.remove(7)
    else :
        print("wlaw")
m

wlaw
wlaw
wlaw
wlaw
wlaw
wlaw
wlaw
wlaw
wlaw
wlaw
wlaw
wlaw

[4, 56, 9, 2, 5, 'rama', 9, 5, 6, 'rakesh', 9, 5, 6, [8, 9, 'rakesh']]

In [16]:
#tuples and dictionires

In [17]:
l= [4,5,6,7,"sudh"]

In [5]:
t=()

In [2]:
t = (2,3,4,5,"sudh,",4.45,4+8j)

In [12]:
type(l)

list

In [18]:
type(t)

tuple

In [14]:
t[::-1]

((4+8j), 4.45, 'sudh,', 5, 4, 3, 2)

In [15]:
len(t)

7

In [19]:
l[0]="kumar"

In [20]:
l

['kumar', 5, 6, 7, 'sudh']

In [22]:
t[0]="ammer"

TypeError: 'tuple' object does not support item assignment

In [24]:
s="sudh"

In [25]:
s[1]="y"

TypeError: 'str' object does not support item assignment

In [31]:
for i in t:
    print(t)

(2, 3, 4, 5, 'sudh,', 4.45, (4+8j))
(2, 3, 4, 5, 'sudh,', 4.45, (4+8j))
(2, 3, 4, 5, 'sudh,', 4.45, (4+8j))
(2, 3, 4, 5, 'sudh,', 4.45, (4+8j))
(2, 3, 4, 5, 'sudh,', 4.45, (4+8j))
(2, 3, 4, 5, 'sudh,', 4.45, (4+8j))
(2, 3, 4, 5, 'sudh,', 4.45, (4+8j))

In [ ]:
l = [1,2,3,4,5]

In [29]:
for i in l:
    print(i)

kumar
5
6
7
sudh

In [3]:
for i in range(len(t)):
    print(t[i])

2
3
4
5
sudh,
4.45
(4+8j)

In [4]:
t=(1,2,3,4,5)

In [5]:
t.count(3)

1

In [6]:
t.count(10)

0

In [7]:
t.index(10)

ValueError: tuple.index(x): x not in tuple

In [44]:
t1=(6,4,7,8,8,9)
t1=list(t1)

In [9]:
t+t1

(1, 2, 3, 4, 5, 6, 4, 7, 8, 8, 9)

In [30]:
l=(1,2,3,4,5,6)

In [27]:
l = list(l)

In [45]:
t1.insert(2,"sudh")

In [46]:
t1

[6, 4, 'sudh', 7, 8, 8, 9]

In [56]:
s= set([1,2,3,5,4,6,9,8,5,6,3,2,"sudh","sudh","Sudh"])

In [57]:
s

{1, 2, 3, 4, 5, 6, 8, 9, 'Sudh', 'sudh'}

In [59]:
s[0]

TypeError: 'set' object is not subscriptable

In [61]:
for i in s:
    print(i)

1
2
3
4
5
6
8
9
sudh
Sudh

In [62]:
s[::-1]

TypeError: 'set' object is not subscriptable

In [63]:
s

{1, 2, 3, 4, 5, 6, 8, 9, 'Sudh', 'sudh'}

In [65]:
d= set((2,5,6,1,5,8,8,9,7,7))

In [66]:
d

{1, 2, 5, 6, 7, 8, 9}

In [67]:
list(d)[::-1]

[9, 8, 7, 6, 5, 2, 1]

In [69]:
f= [1,5,6,2,5,6,2,]

In [70]:
(f)[::-1]

[2, 6, 5, 2, 6, 5, 1]

In [73]:
d={4,5,5,6,9,5,8,8,4}

In [74]:
type(d)

set

In [76]:
d.add("sufh")

In [77]:
d

{4, 5, 6, 8, 9, 'sufh'}

In [78]:
d.pop()

4

In [79]:
d

{5, 6, 8, 9, 'sufh'}

In [80]:
d.pop(1)

TypeError: pop() takes no arguments (1 given)

In [91]:
d = {4,5,6,2,5,5,9,9,6,6,7,7,22,256,888,995,"abc","sudh","rakesh"}

In [84]:
d

{2, 22, 256, 4, 5, 6, 7, 888, 9, 995, 'abc', 'rakesh', 'sudh'}

In [86]:
d =set((4,5,6,2,5,5,9,9,6,6,7,7,22,256,888,995,"abc","sudh","rakesh"))

In [87]:
d

{2, 22, 256, 4, 5, 6, 7, 888, 9, 995, 'abc', 'rakesh', 'sudh'}

In [92]:
for i in d:
    print(i)

256
2
995
4
5
6
7
9
sudh
abc
rakesh
22
888

In [93]:
d = {}
type(d)

dict

In [101]:
d={"name":"sudh","surname":"power","name":"xyz"}
d

{'name': 'xyz', 'surname': 'power'}

In [98]:
type(d)

dict

In [102]:
d={"name":"sudh","surname":"power","name":"xyz","#":58}
d

{'name': 'xyz', 'surname': 'power', '#': 58}

In [120]:
d={"key":[1,2,3,5,6,5,[3558,45]],"key1":(3,5,6,8,8),"key2":{2,56,9,5},"key3":{"x":56,"y":56,"z":"gt"}}

In [121]:
d

{'key': [1, 2, 3, 5, 6, 5, [3558, 45]],
 'key1': (3, 5, 6, 8, 8),
 'key2': {2, 5, 9, 56},
 'key3': {'x': 56, 'y': 56, 'z': 'gt'}}

In [110]:
d['key']

[1, 2, 3, 5, 6, 5, [3558, 45]]

In [114]:
d['key'][6][0]

3558

In [116]:
d["key3"]['y']

56

In [117]:
for i in d:
    print(i)

key
key1
key2
key3

In [119]:
for i in d:
    print(d[i])

[1, 2, 3, 5, 6, 5, [3558, 45]]
(3, 5, 6, 8, 8)
{56, 9, 2, 5}
{'x': 56, 'y': 56, 'z': 'gt'}

In [122]:
d.keys()

dict_keys(['key', 'key1', 'key2', 'key3'])

In [125]:
for i in d.keys():
     print(d[i])

[1, 2, 3, 5, 6, 5, [3558, 45]]
(3, 5, 6, 8, 8)
{56, 9, 2, 5}
{'x': 56, 'y': 56, 'z': 'gt'}

In [126]:
d.values()

dict_values([[1, 2, 3, 5, 6, 5, [3558, 45]], (3, 5, 6, 8, 8), {56, 9, 2, 5}, {'x': 56, 'y': 56, 'z': 'gt'}])

In [132]:
m=[]
for i in d.values():
    if type(i)==dict:
        for j in i:
            m.append(j)
            
m

['x', 'y', 'z']

In [133]:
m=[]
for i in d.values():
    if type(i)==tuple:
        for j in i:
            m.append(j)
            
m

[3, 5, 6, 8, 8]

In [134]:
d

{'key': [1, 2, 3, 5, 6, 5, [3558, 45]],
 'key1': (3, 5, 6, 8, 8),
 'key2': {2, 5, 9, 56},
 'key3': {'x': 56, 'y': 56, 'z': 'gt'}}

In [136]:
d["keys"] = "this is my new data"

In [137]:
d

{'key': [1, 2, 3, 5, 6, 5, [3558, 45]],
 'key1': (3, 5, 6, 8, 8),
 'key2': {2, 5, 9, 56},
 'key3': {'x': 56, 'y': 56, 'z': 'gt'},
 'keys': 'this is my new data'}

In [140]:
d["keys"] = [5,8,6,9]
d

{'key': [1, 2, 3, 5, 6, 5, [3558, 45]],
 'key1': (3, 5, 6, 8, 8),
 'key2': {2, 5, 9, 56},
 'key3': {'x': 56, 'y': 56, 'z': 'gt'},
 'keys': [5, 8, 6, 9]}

In [141]:
d["key2"] = ["hghjujkjkjokp"]
d

{'key': [1, 2, 3, 5, 6, 5, [3558, 45]],
 'key1': (3, 5, 6, 8, 8),
 'key2': ['hghjujkjkjokp'],
 'key3': {'x': 56, 'y': 56, 'z': 'gt'},
 'keys': [5, 8, 6, 9]}

In [144]:
f = {}
for i in range(10):
    f[i]=i**2
    
f

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [145]:
f = {}
for i in range(10):
    f[i]=i**3
    
f

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [149]:
l= ["sudh","kumar","xyz","abc"]
d= {}
for i in l:
    d[i]=i.upper()
d

{'sudh': 'SUDH', 'kumar': 'KUMAR', 'xyz': 'XYZ', 'abc': 'ABC'}

In [150]:
d

{'sudh': 'SUDH', 'kumar': 'KUMAR', 'xyz': 'XYZ', 'abc': 'ABC'}

In [151]:
l= ["sudh","kumar","xyz","abc"]
d= {}
for i in l:
    d[i]=i.isupper()
d

{'sudh': False, 'kumar': False, 'xyz': False, 'abc': False}

In [153]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [158]:
{(i:i.isupper) for i in l}

SyntaxError: invalid syntax (<ipython-input-158-9dcc95b15f39>, line 1)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}